// colours - #DCE2F0 (color), #50586C primary-color 
@use 'menu';
@use 'mixins' as *;
@use 'sass:color' as color; // the lighten() funciton is deprecated in this version of sass
@use 'mobile';

* {
    box-sizing: border-box;

}

body {
    @include background();
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva,
        Verdana, sans-serif;
    line-height: 1.5;

}

// Headings 
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 3rem;
        padding: 0.2rem 1rem;
        background: rgba(color.adjust($primary-color, $lightness: 2%), 0.5);
        ;

    }


}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;

}

.text-secondary {
    color: $secondary-color;

}

main {
    padding: 5rem;
    // height: 100%;
    min-height: calc(100vh - 60px); // ensures that the fotter stays at the bottom of the pag


    .icons {
        margin-top: 1rem;
        color: #dce2f0;

        a {
            padding: 0.5rem;

            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }


    &#home {
        overflow: hidden; // no scrollbars

        h1 {
            margin-top: 20vh; // vh = viewport height
        }
    }
}



// CSS styling for 'about.html'
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio'
        'uni1 uni2 uni3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .uni-1 {
        grid-area: uni1;
    }

    .uni-2 {
        grid-area: uni2;

    }

    .uni-3 {
        grid-area: uni3;

    }


    .uni {
        background: rgba(color.adjust($primary-color, $lightness: 2%), 0.5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: color.adjust($primary-color, $lightness: -10%);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile'; // have to use @import function as although it has not been deprecated from the sass function, it will be removed in 3.0.0 but with the current sass version (1.84.0) is valid